@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Finlandica:ital,wght@0,700;1,700&family=Karma&family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Raleway:wght@100;200;300;400&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.wrapper {
    height: 1200px;
}

.header {
    width: 100vw;
    height: 250px;
    background: linear-gradient(90deg, rgba(68,58,233,1) 0%, rgba(26,26,190,1) 25%, rgba(0,212,255,1) 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header--introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-top: 8px;
}
.header--logo img {
    width: 100%;
    height: fit-content;
}

.header--name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--name p{
    font-size: 18px;
    color: #000;
    text-shadow: 0px 1px #333;
    margin-top: 3px;
}
.header--name #target {
    font-size: 24px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: #f05123;
    transition: all .2s linear;
}

.tabs--icon {
    font-size: 18px;
    padding: 4px;
    color: #fff;
}

.tabs--item {
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 5px;
    width: calc(360x / 3);
}

.tabs--item:hover {
    background-color: #888;
    border-bottom: 6px solid rgba(0 , 0 , 0 ,.2);
    cursor: pointer;
}

.item-content {
    font-size: 18px;
    color: #000;
}

.tabs {
    min-width: 360px;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.list-information {
    display: flex;
    list-style-type: none;
}

.list--link {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.list--item {
    display: inline-block;
    position: relative;
    padding: 12px;
    border-radius: 50px;
}

.list--item + .list--item {
    margin-left: 16px;
}

.list--item:hover{
    background-color: #ccc;
}

.list--item:hover .list--link {
    color: #000;
}

/* Subnav  */
.sub-nav {
    list-style-type: none;
    display: none;
    position: absolute;
    left: -30%;
    bottom: -25px;
    transform: translate(-50px, 50px);
    z-index: 2;
    animation: Appear 0.2s linear;
}
.courses .sub-nav {
    left: -75%;
}

.sub-nav--item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 90px;
    min-height: 70px;
    border-radius: 50%;
    background-color: rgb(164, 164, 14);
}

.sub-nav--item:hover {
    background-color: #888;
}

.sub-nav--link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    text-align: center;
}

.sub-nav .sub-nav--item {
    margin: 0 4px;
    border: 1px solid #fff;
}

/* Display when it's hover */
.contact:hover .sub-nav,
.event:hover .sub-nav,
.program:hover .sub-nav,
.courses:hover .sub-nav,
.activities:hover .sub-nav{
    display: flex;
}

.list--item.contact::after,
.list--item.event::after,
.list--item.program::after,
.list--item.courses::after,
.list--item.activities::after {
    content: "";
    display: block;
    width:100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
}

.list--item.active {
    background-color: #f05123;
}
.list--item.active .list--link {
    color: #000;
}

/* Slider */
.slider {
    width: 1200px;
    height: 640px;
    background-color: #888;
    position: absolute;
    top: calc(100% - 55px);
    border: 10px solid #fff;
}

.slider--bar {
    width: 250px;
    height: 200px;
    background-color: rgb(87, 2, 87);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
}

.slider-heading {
    font-size: 38px;
    color:rgb(230, 230, 20);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.blog {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    justify-content: center;
    animation: RotateBlog 5s ease infinite;
}
.blog .rotate-icon {
    font-size: 26px;
    color: #fff;
    align-self: center;
}

.slider--bar::after {
    content: "";
    display: block;
    border-width: 100px 50px 100px 0px;
    border-style: solid;
    border-color: rgb(87, 2, 87) transparent rgb(87, 2, 87) transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% - 1px));
}

/* Slider */
/* .carousel--container {
    width: 100%;
    height: 100%;
} */

.carousel--slider {
    display: flex;
     /* overflow: hidden; */
     width: 100%;
}

.carousel--slider img {
    width: 100%;
    height: 100%;
}

@keyframes Appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes RotateBlog {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
